.insideCalendar{
    background-color: #424549;
    height:100%;
    color:#007BFF;
    border-style:solid;
    border-width:0;
    border-radius: 10px;
    border-color: aliceblue;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.insideCalendar-clicked {
    animation-duration: 3s;
    animation-name: testSlide;
   
}
