.entry-container{
    width:70vw;
    height:10vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-exercise{
    width: 150px;
    height:50px;
}

.single-workout{
    display: flex;
}

.ExerciseNameDiv{
    display: flexbox;
    justify-content: space-around;
    /* justify-content:flex-end; */
    width:70vw;
    background-color: #313335;
    height:auto;
    border:2px solid white;
    border-radius: 15px;
    padding: 50px;
}

.button-exercise{
    display: flex;
    justify-content:space-between; 
}

.rep-weight-details{
    display: flex;
    justify-content: space-around;
}


.xyz{
    display: flex;
    gap:10px;
    
}

.dropdown_content{
    display: block;
    border:solid;
    border-radius:10px ;
    position: absolute;
    /* background-color: #3c3e40; */
    font-size: small;
    width:200px;
    /* From https://css.glass */
    background: rgba(95, 80, 80, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(95, 80, 80, 0.35);
    
}


.content:hover{
    cursor:pointer;
}

.weight_rep_inputs{
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* .weight_rep_inputs .test{
    text-align: center;
} */