.entry-container{
    /* padding:20px; */
    /* width:80%; */
    width: 100%;
    height:10vh;
    display:flex;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-between; */
}

.add-excercise-button-container {
    justify-items: center;
    height: 2rem;
}
.add-exercise{
    width: 150px;
    font-size: 0.7rem;
    height: inherit;
}

.single-workout{
    display: flex;
}

.ExerciseNameDiv{
    display: flexbox;
    justify-content: space-around;
    background-color: #313335;
    height:auto;
    min-height: 20rem;
    border:2px solid white;
    border-radius: 15px;
}

.ExerciseNameDiv .box {
    margin: 2rem;
}

.button-exercise{
    display: flex;
    justify-content:space-between; 
}

.rep-weight-details{
    display: flex;
    justify-content: space-around;
}


.xyz{
    display: flex;
    gap:10px;
    
}
.xyz button {
    justify-items: center;
    height: 2rem;
    font-size: 0.7rem;
}

.dropdown_content{
    display: block;
    border:solid;
    border-radius:10px ;
    position: absolute;
    /* background-color: #3c3e40; */
    font-size: small;
    width:200px;
    /* From https://css.glass */
    background: rgba(95, 80, 80, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(95, 80, 80, 0.35);
    
}


.content:hover{
    cursor:pointer;
}

.weight_rep_inputs{
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* .weight_rep_inputs .test{
    text-align: center;
} */

.error-container {
    font-size: 0.5rem;
    justify-items: center;
    height: 2rem;
    vertical-align: center;
}